.body{
  background-image: url('../../images/Home.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vh;
}
.nav {
  width: 90%;
  height: auto;
  display: flex;
  align-items: center;  
  gap: 300px;
  justify-content: space-around;
  padding-left: 50px;
  padding-top: 10px;
}
.container_menu_dogs{
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
}

.menu{
  padding: 7px;
  border-radius: 10px;
  width: auto;
  height: 600px;
  display: flex ;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.dogs{
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

/* .paginated{
  border-radius: 10px;
  display: flex;
  justify-content: center;
  border:3px solid mediumspringgreen;
} */
/* .searchbar{
  border: 2px solid rgb(0, 255, 170);
} */
@media screen and (max-width:1000px) {
  .container_menu_dogs{
    flex-direction: column;
    width: 80%;
    justify-content: center;
    align-items: center;
    height: auto;
  }
  .nav {
    width: 75%;
  }
  .paginated{
    display: flex;
    justify-content: center;
    width: 80%;
    height: 100%;
  }
  .menu{
    height: auto;
    width: 100%;
  }
  .dogs{
    width: 400px;
  }
  .searchbar{
    width: 80%;
  }
}

@media screen and (max-width:715px) {
  .container_menu_dogs{
    flex-direction: column;
    width: 98%;
    justify-content: center;
    align-items: center;
    height: auto;
  }

  
  .nav {
    width: 90%;
  }
   .paginated{
    width: 100%;
  }
  .menu{
    height: auto;
    width: 98%;
  }
  .dogs{
    width: 98%;
  }
  .searchbar{
    width: 98%;
  }
}
