.background{
    background-image: url('../../images/Home.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;
    min-height: 100vh;
}
.container{
  display: flex;
  padding: 10px;
  flex-direction: column;
}
.container2{
  display: flex;
  padding: 10px;
  flex-direction: row;
}

.body{
    min-height: 100%;
}

.navbar{
  padding: 5px;
  border-radius: 10px;
  justify-content: center;
  display: flex;
}
.menu{
  padding: 15px;
  border-radius: 10px;
  width: 400px;
  height: 600px;
  display: flex ;
  justify-content: center;
}

.dogs{
  padding: 15px;
  border-radius: 10px;
}

.paginated{
  padding: 15px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

