@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&family=Rampart+One&display=swap');

.refresh{
    width: 130px;
    height: 40px;
    background: transparent;
    border: none;
    position: relative;
    color: #fec242c7;
    z-index: 1;
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 20px;
}
.refresh::after,
.refresh::before{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -99999;
    transition: all .4s;
}
.refresh::before{
    transform: translate(0%,0%);
    width: 100%;
    height: 100%;
    background-color: #1743463d;
    border-radius: 10px;
}
.refresh::after{
    transform: translate(10px, 10px);
    width: 35px;
    height: 35px;
    background: #25554ba6;
    backdrop-filter: blur(5px);
    border-radius: 10px;
}
.refresh:hover::before {
    transform: translate(5%, 20%);
    width: 110%;
    height: 110%;
    background-color: #81f0c5;
   }
.refresh:hover::after {
    border-radius: 10px;
    transform: translate(0, 0);
    width: 100%;
    height: 100%;
}
.container{
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  width: 200px;
  background-color: #25554ba6;
  align-items: center;
  border-radius: 10px;
  border: 3px solid var #81f0c5;
}
.name1{
  background: transparent;
  border: none;
  position: relative;
  color: #81f0c5;
  text-align: center;
  background-color: #1743467a;
  width: 130px;
  height: 40px;
  border-radius: 10px;
  font-family: 'Mouse Memoirs', sans-serif;
  font-size: 20px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.name1:hover,
.name2:hover,
.select:hover{
  
  background-color: #174346;
  color:#81f0c5;
}

.name2{
  background: transparent;
  border: none;
  position: relative;
  color: #81f0c5;
  text-align: center;
  background-color: #1743467a;
  width: 130px;
  height: 40px;
  border-radius: 10px;
  font-family: 'Mouse Memoirs', sans-serif;
  font-size: 20px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:30px;
  margin-bottom: 10px;  
}

.container2{
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: auto;
  position: relative;
  z-index: 1;
}

.select {
  width: 130px;
  padding: 5px;
  margin: 2px auto 2px auto;
  border-radius: 10px;
  position: relative;
  height: auto;
  color: #174346;
  box-sizing: content-box;
  background-color: #fec2429a;
  font-family: 'Mouse Memoirs', sans-serif;
  font-size: 20px;
  color: #b13446;
}

.select option{
  position: relative;
  height: auto;
  background-color: #174346;
  color:#81f0c5;
  font-family: 'Mouse Memoirs', sans-serif;
  font-size: 16px;
}
