@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&family=Rampart+One&display=swap');

.card {
    width: 300px;
    height: 450px;
    --background: #25554ba6;
    --green: #174346;
    --aqua: #81f0c5;
    display: flex;
    flex-direction: column;
    gap: 1em;
    background: var(--background);
    padding: 1rem;
    border: 3px solid var(--aqua);
    border-radius: 10px;
    box-shadow: 10px -10px 0 -3px var(--green), 10px -10px var(--green),
                10px -10px 0 -3px var(--background), 10px -10px var(--aqua);
    transition: box-shadow 1s, top 1s, left 1s;
  }

  .card:hover {
    box-shadow: 0 0 0 -3px var(--background), 0 0 0 0 var(--green),
                0 0 0 -3px var(--background), 0 0 0 0  var(--aqua),
                4px 4px 20px #25554b inset;
    border: 3px solid var(--green);
    transition: border 1s, top 1s, left 1s;
   }

   .title{
    display: flex;
    height: 80px;
    width: 300px;
    font-family: 'Rampart One', cursive;
    background-image: url(https://media.giphy.com/media/jkqzt6Xy7tss9I3qJ3/giphy.gif);
	  background-size: cover;
	  color: transparent;
	  -moz-background-clip: text;
	  background-clip: text;
    font-size: 20px;
    font:bold;
   }

   .h3{
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
   }
   .div_cont{
     display: flex;
     flex-direction: column;
   }
   .div_temp{
    margin: auto;
     font-family: 'Mouse Memoirs', sans-serif;
     color: #81f0c5;
     display: flex;
     gap: 20px;
     font-size: 20px;
     justify-content: center;
     padding: 5px;
     font: bold;  
     text-align: center;
    align-items: center;
   }
   .div_img{
    height: auto;
    display: flex;
    justify-content: center;
   }
   .image img{
     border-radius: 50px;
     margin: auto;
     padding: 2px;
    --green: #1BFD9C;
    position: relative;
    height: 205px;
    border-radius: 30%;
    overflow: hidden;
    transition: all 0.3s;
    line-height: 1.4em;
    background: #1bfd9ba6;
    color: var(--green);
    box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.4), 0 0 9px 3px rgba(27, 253, 156, 0.1);
   }
   .image img:hover {
    color: #82ffc9;
    border: 2px solid var(--green);
    border-radius: 20px;
    box-shadow: 0 0 0 -3px var(--background), 0 0 0 0 var(--green);
    transition: border 1s, top 1s, left 1s;
   }

   .divWeight{
     margin: 0;
     font-family: 'Mouse Memoirs', sans-serif;
     color: #81f0c5;
     display: flex;
     gap: 20px;
     font-size: 20px;
     justify-content: center;
     font: bold;  
     text-align: center;
     height: 40px;
   }

   .effect div{
    --green: #1BFD9C;
    font-family: 'Mouse Memoirs', sans-serif;
    color: #81f0c5;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width:200px;
    padding: 1px;
    position: relative;
    border-radius: 50px;
    overflow: hidden;
    transition: all 0.3s;
    line-height: 1.4em;
    border: 2px solid var(--green);
   }