.loader{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  right: 0px;
  align-items: center;
  top: 50px;
}

.container{
  display: flex;
  width: 100%;
  gap: 40px;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
}