@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&family=Rampart+One&display=swap');

.body {
    background-image: url("../../images/NotFoundBG.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    filter: saturate(1.2);
  }

  .container{
      display: flex;
      align-items: flex-end;
      height: 70%;
      width: 100vh;
      justify-content: flex-end;
      padding: 50px;
      flex-direction: column;
      gap: 100px;
  }
  .blur {
    background-color: rgba(73, 26, 26, 0.37);
    height: 100vh;
    backdrop-filter: blur(3px);
    position: relative;
  }

  .text{
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-family: 'Rampart One', cursive;
    background-image: url(https://media.giphy.com/media/L4TkLpoJJdP0jQvwSE/giphy-downsized-large.gif);
    background-size: cover;
    color: transparent;
    -moz-background-clip: text;
    background-clip: text;
  }

  .button {
    position: relative;
    padding: 15px 25px;
    outline: none;
    border: 1px solid #61291b;
    background: #ec95092d;
    color: #000000;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    font-family:'Mouse Memoirs', sans-serif;
    font-size: 40px;
    overflow: hidden;
    transition: 0.2s;
    border-radius: 15%;
    cursor: pointer;
    font-weight: bold;
    opacity: 0.8;
   }
   
   .button:hover {
    box-shadow: 0 0 10px #0bffd6, 0 0 25px #22ddbe, 0 0 50px #4eecd2;
    transition-delay: 0.6s;
   }
   
   .button span {
    position: absolute;
   }
   
   .button span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #0bffd6);
   }
   
   .button:hover span:nth-child(1) {
    left: 100%;
    transition: 0.7s;
   }
   
   .button span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #3ff0d2);
   }
   
   .button:hover span:nth-child(3) {
    right: 100%;
    transition: 0.7s;
    transition-delay: 0.35s;
   }
   
   .button span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #25f0ce);
   }
   
   .button:hover span:nth-child(2) {
    top: 100%;
    transition: 0.7s;
    transition-delay: 0.17s;
   }
   
   .button span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #29e2c3);
   }
   
   .button:hover span:nth-child(4) {
    bottom: 100%;
    transition: 0.7s;
    transition-delay: 0.52s;
   }
   
   .button:active {
    background: #0bffd696;
    background: linear-gradient(to top right, #0bffd6, #0bffff);
    color: #000000;
    box-shadow: 0 0 8px #0bffd6, 0 0 8px #1cf8d3, 0 0 8px #0bffeb;
    transition: 0.1s;
   }
   
   .button:active span:nth-child(1) 
   span:nth-child(2) 
   span:nth-child(2) 
   span:nth-child(2) {
    transition: none;
    transition-delay: none;
   }