.body {
    background-image: url("../../images/NotFoundBG.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    filter: saturate(1.2);
  }

  .container{
      display: flex;
      align-items: center;
      height: 70%;
      width: 100vh;
      justify-content: flex-end;
      padding: 50px;
      flex-direction: column;
  }
  .blur {
    background: transparent;
    height: 100vh;
    backdrop-filter: blur(3px);
    position: relative;
  }
