@import url("https://fonts.googleapis.com/css2?family=Mouse+Memoirs&family=Rampart+One&display=swap");

.container {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
}

.searchbar {
  display: flex;
  width: 28em;
}

.logo_cont {
  width: 220px;
  display: flex;
  justify-content: center;
}

.logo {
  height: 130px;
  filter: saturate(0.9);
}

.cont_btn {
  width: 900px;
  display: flex;
  align-items: center;
  justify-content: left;
}

.button {
  position: relative;
  padding: 0.5em 1em;
  outline: none;
  border: 1px solid #0bffd6;
  background: #02f8c32d;
  color: #0bffd6;
  font-family: "Mouse Memoirs", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 20px;
  overflow: hidden;
  transition: 0.2s;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
}
.NavLink {
  color: #0bffd6;
}
.button:hover {
  box-shadow: 0 0 10px #0bffd6, 0 0 25px #22ddbe, 0 0 50px #4eecd2;
  transition-delay: 0.6s;
}

.button .span {
  position: absolute;
}

.button .span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #0bffd6);
}

.button:hover .span:nth-child(1) {
  left: 100%;
  transition: 0.7s;
}

.button .span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #3ff0d2);
}

.button:hover .span:nth-child(3) {
  right: 100%;
  transition: 0.7s;
  transition-delay: 0.35s;
}

.button .span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #25f0ce);
}

.button:hover .span:nth-child(2) {
  top: 100%;
  transition: 0.7s;
  transition-delay: 0.17s;
}

.button .span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #29e2c3);
}

.button:hover .span:nth-child(4) {
  bottom: 100%;
  transition: 0.7s;
  transition-delay: 0.52s;
}

.button:active {
  background: #0bffd696;
  background: linear-gradient(to top right, #0bffd6, #0bffff);
  color: #000000;
  box-shadow: 0 0 8px #0bffd6, 0 0 8px #1cf8d3, 0 0 8px #0bffeb;
  transition: 0.1s;
}

.button:active
  .span:nth-child(1)
  .span:nth-child(2)
  .span:nth-child(2)
  .span:nth-child(2) {
  transition: none;
  transition-delay: none;
}
